# Environments
.env
.venv
env/
venv/
ENV/

# Logs
*.log
bot.log

# Database configs / runtime exports
db_config.json
*.docx

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
